--use maptest
--SELECT * FROM mapat.dbo.[user_accounts]
IF EXISTS (SELECT 1 FROM sys.Objects WHERE name=N'usp_UpdateUser' AND type=N'P')
DROP PROCEDURE  dbo.usp_UpdateUser
GO

/* 
//Name:    usp_UpdateUser

// Description:
// 	Update/Add User... 


// Author Legend:
// Initials		Name
// MKM			Mahesh KM

// Maintenance Log:
// Who When       What
// --- ---------- ----------------------------------------------
// MKM 28/06/2013 Procedure created
//
//=============================================================*/
--exec usp_UpdateUser 'Mahesh45', 'KM54','Mahesh45.KM@mediaus.com',164
--usp_UpdateUser 'Auto','Generated','autogenerated@adoptsoft.com','203',0,203,203
CREATE PROCEDURE dbo.usp_UpdateUser
(
	--@username	varchar(60)
	--,@password	varchar(200)
	@first_name	varchar(50)
	,@last_name	varchar(50)
	,@email	varchar(250)
	,@airs_contact_id	varchar(10)
	,@ConnId	int
	,@agency_id	int
	,@airs_contactairs_id	int = 0
	--,@photo	varchar(16)
	--,@organization	varchar	(8000)
	--,@title	varchar	(8000)
	,@phone	varchar	(8000)=''
	,@address1	varchar(8000)=''
	,@address2	varchar	(8000)=''
	,@city	varchar(8000)=''
	,@state	varchar(8000)=''
	,@zipcode	varchar	(8000)=''
	,@country	varchar	(8000)=''
	,@website	varchar	(8000)=''
	--,@mobile_number	varchar(8000)
	--,@status	varchar	(10)
	--,@summary	varchar	(8000)
	--,@membership	varchar(10)
	--,@user_posting	varchar	(8000)
	--,@user_register	int	
	--,@datejoined	smalldatetime
	--,@last_login	smalldatetime
	--,@last_ip	varchar	(32)
	--,@session	varchar	(8000)
	--,@suspend_until	smalldatetime
	--,@timezone	varchar	(50)
	--,@itemized_date	smalldatetime
	--,@user_type	varchar(50)
	--,@agency_group	varchar(8000)
	--,@agency_name	varchar(8000)	
	,@group_id	varchar(8000)=''
	--,@queation	varchar(8000)
	--,@answer	varchar(8000)
	--,@due_date	smalldatetime
	--,@race	varchar(8000)
	--,@note	varchar(8000)
	--,@over_21	varchar(10)
	--,@marital_status	varchar(30)
	--,@message_alert	varchar(5)
	--,@case_worker int
	--,@case_worker_parent_user_id int	
	--,@adoption_type	varchar(MAX)
	--,@spouse_first_name	varchar(50)
	--,@spouse_last_name	varchar	(50)
	--,@spouse_organization	varchar(8000)
	--,@spouse_title	varchar(8000)
	--,@spouse_website	varchar(8000)
	--,@referral	varchar(MAX)
	--,@mailtogroups	varchar(1)
	--,@doctogroups	varchar(1)
	--,@doctousers	varchar(1)
	--,@personal_gender	varchar(1)
	--,@spouse_gender	varchar(1)
	--,@message_group	varchar(50)
	--,@quickbook_listid	varchar(300)
	--,@quickbook_vendorid	varchar	(300)
	--,@quickbook_queue	varchar(1)
	--,@signer1	int
	--,@signer2	int	
	--,@video_msg	varchar(1)
	--,@status_mode	varchar(50)
	--,@edd	smalldatetime
	--,@id_type	varchar(100)
	--,@id_number	varchar(100)
	--,@quickbook_custeditseq	varchar(300)
	--,@quickbook_vendeditseq	varchar(300)
	--,@qb_listid_online	varchar(300)
	--,@qb_vendorid_online	varchar(300)
	--,@qb_online_updation	nchar(2)
	--,@qb_standalone_updation	nchar(2)
	--,@new_encryption	nchar(2)
	--,@passwordchange	char(1)
	--,@passwordchangedate	datetime
	--,@SBFlag	varchar(10)
	--,@SBSaveMapDate	datetime	
)
AS 
BEGIN
SET NOCOUNT ON


DECLARE @UserId  INT
DECLARE @ValidationMsg VARCHAR(200)
DECLARE @username VARCHAR(60)

SET @username=@email
SET @UserId=0
SET @ValidationMsg=''
If @airs_contactairs_id = 0
	SET @airs_contactairs_id=@ConnId


IF EXISTS(SELECT 1 FROM  [dbo].[user_accounts] WHERE  [username]=@username)
BEGIN
	SET @ValidationMsg = 'User Existing in our record(s) , UserName = ' +@username
	SELECT 0 as UserID,@ValidationMsg as MSG
	return 0 
END

INSERT INTO [dbo].[user_accounts]
           (
           [username]
           ,[password]
           ,[first_name]
           ,[last_name]
           ,[email]
          -- ,[photo]
           --,[organization]
           --,[title]
           ,[phone]
           ,[address1]
           ,[address2]
           ,[city]
           ,[state]
           ,[zipcode]
           ,[country]
           ,[website]
           --,[mobile_number]
           ,[status]
           --,[summary]
           --,[membership]
           --,[user_posting]
           --,[user_register]
           ,[datejoined]
           --,[last_login]
           --,[last_ip]
           --,[session]
           --,[suspend_until]
           --,[timezone]
           --,[itemized_date]
           ,[user_type]
           --,[agency_group]
           --,[agency_name]
           ,[agency_id]
           ,[group_id]
           --,[queation]
           --,[answer]
           --,[due_date]
           --,[race]
           --,[note]
           --,[over_21]
           --,[marital_status]
           ,[message_alert]
           ,[case_worker]
           --,[case_worker_parent_user_id]
           --,[adoption_type]
           --,[spouse_first_name]
           --,[spouse_last_name]
           --,[spouse_organization]
           --,[spouse_title]
           --,[spouse_website]
           --,[referral]
           --,[mailtogroups]
           ,[airs_contact_id]
           ,[airs_contactairs_id]
           --,[doctogroups]
           --,[doctousers]
           --,[personal_gender]
           --,[spouse_gender]
           --,[message_group]
           --,[quickbook_listid]
           --,[quickbook_vendorid]
           --,[quickbook_queue]
           --,[signer1]
           --,[signer2]
           --,[video_msg]
           --,[status_mode]
           --,[edd]
           --,[id_type]
           --,[id_number]
           --,[quickbook_custeditseq]
           --,[quickbook_vendeditseq]
           --,[qb_listid_online]
           --,[qb_vendorid_online]
           --,[qb_online_updation]
           --,[qb_standalone_updation]
           --,[new_encryption]
           ,[ConnId]
           --,[passwordchange]
           --,[passwordchangedate]
           --,[SBFlag]
           --,[SBSaveMapDate]
           )
     VALUES
			(
			@username
			,'ATDATAMIGRATION' --@password
			,@first_name
			,@last_name
			,@email
			--,@photo
			--,@organization
			--,@title
			,@phone
			,@address1
			,@address2
			,@city
			,@state
			,@zipcode
			,@country
			,@website
			--,@mobile_number
			,'Inactive'
			--,@summary
			--,@membership
			--,@user_posting
			--,@user_register
			,CAST( GETDATE() AS smalldatetime)--@datejoined
			--,@last_login
			--,@last_ip
			--,@session
			--,@suspend_until
			--,@timezone
			--,@itemized_date
			,'adoptive_parent'
			--,@agency_group
			--,@agency_name
			,@agency_id
			,@group_id
			--,@queation
			--,@answer
			--,@due_date
			--,@race
			--,@note
			--,@over_21
			--,@marital_status
			,'On'--@message_alert
			,0--@case_worker
			--,@case_worker_parent_user_id
			--,@adoption_type
			--,@spouse_first_name
			--,@spouse_last_name
			--,@spouse_organization
			--,@spouse_title
			--,@spouse_website
			--,@referral
			--,@mailtogroups
			,@airs_contact_id
			,@airs_contactairs_id
			--,@doctogroups
			--,@doctousers
			--,@personal_gender
			--,@spouse_gender
			--,@message_group
			--,@quickbook_listid
			--,@quickbook_vendorid
			--,@quickbook_queue
			--,@signer1
			--,@signer2
			--,@video_msg
			--,@status_mode
			--,@edd
			--,@id_type
			--,@id_number
			--,@quickbook_custeditseq
			--,@quickbook_vendeditseq
			--,@qb_listid_online
			--,@qb_vendorid_online
			--,@qb_online_updation
			--,@qb_standalone_updation
			--,@new_encryption
			,@ConnId
			--,@passwordchange
			--,@passwordchangedate
			--,@SBFlag
			--,@SBSaveMapDate
	)

set @UserId=@@IDENTITY
PRINT @@IDENTITY
EXEC sp_GroupRoleAddEdit @UserId

INSERT INTO user_notifications (un_user_id, un_email_id, un_notify_email, un_notify_sms, un_phone_number, un_carrier_id) VALUES
                    (@UserId, @email, 1,0,@phone, 0)

--SELECT isnull(@UserId,0) AS UserId,'Inserted SuccessFully'  as Msg
--return isnull(@UserId,0) -- 0 indicates insertion failed

SELECT isnull(@UserId,0) AS UserId
return isnull(@UserId,0) -- 0 indicates insertion failed

END


select * from [user_accounts]
